<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    	<h2>TFT Terms of Service</h2>

    	<div class="container">
            <div class="tos">
                <h4>
                    I accept that:
                </h4>
                <ul>
                    <li>Comments will be moderated by the website</li>
                    <li>I can't do bad stuff</li>
                    <li>I am over the age of 13</li>
                </ul>
            </div>
            <div class="accept">
                <a class="btn accept" href="{{ accept_url }}">Accept</a>
            </div>
        </div>
    </body>
</html>
